.startBG {
  width: 100%;
  height: 26.3rem;
  background: url('./asset/images/startBG.png') no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  z-index: 99999;
}

// taro ui 
// tabs
.at-tabs__header {
  background-color: rgb(212, 52, 41) !important;
  color: #fff !important;
  padding-bottom: 10PX !important;
}
.at-tabs__underline{
  background-color: #fff !important;
}
.at-tabs__item--active{
    color: #fff !important;
}
.at-tabs__item{
    color: #fff !important;

}

.at-tabs__item::after{
    height: 6px !important;
    background-color: #fff !important;
    border-radius: 6PX !important;
    width: 20% !important;
    left: 41% !important;
}

.at-tabs__body{
  position: relativel !important;
  min-height: 500PX !important;
}

.t300{
  position: relative !important;
  top: 320px !important;
}

::placeholder {
  color: #fff;
}
