
// taro ui 
// tabs
.at-tabs__header {
  background-color: rgb(212, 52, 41) !important;
  color: #fff !important;
  padding-bottom: 10PX !important;
}

.at-tabs__underline {
  background-color: #fff !important;
}

.at-tabs__item--active {
  color: #fff !important;
}

.at-tabs__item {
  color: #fff !important;

}

.at-tabs__item::after {
  height: 6px !important;
  background-color: #fff !important;
  border-radius: 6PX !important;
  width: 20% !important;
  left: 41% !important;
}

.at-tabs__body {
  position: relativel !important;
  // min-height: 500PX !important;
}

.ouch {
  .at-tabs__body {
    position: relative !important;
    top: 320px !important;
    margin-bottom: 320px !important;
  }
}

.taro-img{
  position: relative;
  width: 100% !important;
  height: 100% !important;
}

.t300 {
  position: relative !important;
  top: 320px !important;
  margin-bottom: 320px !important;
}

::placeholder {
  color: #fff;
}
