.accountPage {
    display: block;
    // background: url("../../asset/images/user.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }
  