extends ./layout/default

block title 
  title Koa Douban 首页

block content
  .container
    .row
      .col-md-8
        h1 Hi #{you}
        p This is #{me}
      .col-md-4
        p 测试koa views Pug模板引擎233